priority -50

snippet s "startuml"
@startuml
${1:code}
@enduml
endsnippet

snippet bw "black and white color"
skinparam monochrome true
$0
endsnippet

snippet fo "startuml"
skinparam defaultFontName SimSun,Times
$0
endsnippet
